:root{
  font-family: 'Righteous';
  font-size: 16px;
}

body {
  background-color: #c4c4c4;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  color: $main-col;
  z-index: -2;
  .app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
  }
}

main {
  height: 398px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
